body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

a {
  -webkit-text-emphasis: none;
          text-emphasis: none;
  color: #000;
}

/*---------------------  contenedor  --------------------------*/
.contenedor {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(90px, 90px) auto;
      grid-template-columns: minmax(90px, 90px) auto;
  -ms-grid-rows: 60px auto;
      grid-template-rows: 60px auto;
      grid-template-areas: "header header"  "menu main";
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.contenedor.active {
  -ms-grid-columns: minmax(300px, 18%) auto;
      grid-template-columns: minmax(300px, 18%) auto;
}

/*-------------------header-----------------------*/
.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
      grid-template-areas: "logo  busqueda iconos";
}

.header--conteiner__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--conteiner__logo button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-left: 10px;
}

.header--conteiner__logo button:hover {
  background: #e7e7e7;
}

.header--conteiner__logo .logo .fas {
  background-color: #ff0000;
  padding: 7px 12px;
  border-radius: 4px;
  font-size: 8px;
  color: #fff;
  position: relative;
  top: -4px;
  margin-right: 10px;
}

.header--conteiner__logo .logo {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
}

.header--container__barraBusqueda {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: busqueda;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header--container__barraBusqueda input {
  min-width: 60%;
  padding: 0px 15px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.header--container__barraBusqueda button {
  height: 37px;
  border: 1px solid #ccc;
  border-left: none;
  color: #545454;
  background-color: #f8f8f8;
  padding: 0 25px;
  cursor: pointer;
}

.header--container__barraBusqueda button:hover {
  background-color: #f5f5f5;
}

.header--contenedor__icons {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: iconos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header--contenedor__icons button {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  padding: 7px 12px;
  border-radius: 100px;
  color: #828282;
  margin: 0 15px;
  cursor: pointer;
}

.header--contenedor__icons button:hover {
  background-color: #ccc;
}

.header--contenedor__icons > a > img {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0px  25px 0px 15px;
}

/*-------------------menu lateral-----------------------*/
.menu-lateral {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: menu;
  background-color: white;
  overflow: hidden;
}

.menu-lateral > a {
  display: block;
  padding: 15px 35px;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
  min-width: 800px;
}

.menu-lateral > a:hover {
  text-decoration: underline;
  background-color: #e5e5e5;
}

.menu-lateral .active {
  background-color: #f5f5f5;
  font-weight: bold;
}

.menu-lateral .fas {
  color: #606060;
  margin-right: 60px;
  width: 20px;
  text-align: center;
}

.menu-lateral .active .fas {
  color: red;
}

.menu-lateral hr {
  margin: 20px 10px;
  border: 1px solid #ccc;
}

/*------------------- contenido principal ----------------------*/
.main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  background-color: #f9f9f9;
  padding: 40px;
}

.main__titulo {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.main__grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px 20px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.main--grid__videos {
  width: 100%;
  display: block;
}

.main--grid__videos > img {
  width: 100%;
}

/*--------------- responsive ---------------------*/
@media screen and (max-width: 1200px) {
  .main__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .header--conteiner__logo .logo > span {
    display: none;
  }
  .header--container__barraBusqueda input {
    min-width: 70%;
    -webkit-transition: .7s;
    transition: .7s;
  }
}

@media screen and (max-width: 992px) {
  .main__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .header--conteiner__logo .logo > span {
    display: none;
  }
  .header--container__barraBusqueda input {
    min-width: 60%;
    -webkit-transition: .7s;
    transition: .7s;
  }
}

@media screen and (max-width: 768px) {
  .contenedor {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .header {
    padding: 20px;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
        grid-template-areas: "logo iconos" " busqueda busqueda";
    -webkit-transition: .7s;
    transition: .7s;
  }
  .header--conteiner__logo .logo > span {
    display: inline;
  }
  .header--container__barraBusqueda input {
    min-width: auto;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .header--conteiner__logo .logo > span {
    display: none;
  }
  .main--grid__videos {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=estilos.css.map */